<ion-header
  class="ion-no-border"
  [translucent]="true"
  style="--background: #132742; --border-width: 0"
>
  <ion-toolbar
    mode="md"
    class="mt-4"
    style="--background: #132742; --border-width: 0"
  >
    <div class="flex justify-between align-center w-full">
      <div class="flex justify-left">
        <ion-buttons slot="start">
          <ion-back-button color="secondary"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-white ml-3">Club Events</ion-title>
      </div>
      <ion-icon
        class="text-[#ffcccb] mr-5"
        name="ellipsis-vertical-sharp"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  forceOverscroll="false"
  scroll-y="false"
  class="bg-gray pt-2 rounded-t-3xl tt"
>
  <div class="h-full">
    <div class="mt-8 mb-5 mx-4 flex justify-between">
      <ion-segment [(ngModel)]="type" class="bg-white w-2/3" mode="md">
        <ion-segment-button class="text-[#CDD7DC]" value="club">
          Club Event
        </ion-segment-button>
        <ion-segment-button class="text-[#CDD7DC]" value="local">
          Local Event
        </ion-segment-button>
      </ion-segment>
      <div
        class="w-24 h-12 px-2 border-2 border-[#ffcccb] bg-[#FEF8F8]"
        *ngIf="type==='local'"
      >
        <ion-select
          aria-label="date"
          interface="popover"
          fill="outline"
          placeholder="date"
          (ionChange)="triggerEvent($event)"
        >
          <ion-select-option value="today">Today</ion-select-option>
          <ion-select-option value="week">Week</ion-select-option>
          <ion-select-option value="month">Month</ion-select-option>
        </ion-select>
      </div>
    </div>

    <ng-container [ngSwitch]="type">
      <div class="bg-white overflow-scroll h-full" *ngSwitchCase="'club'">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px 8px;
          "
        >
          <ion-datetime
            presentation="date"
            [multiple]="true"
            [value]="dates"
            class="bg-white m-auto"
            (ionChange)="dateTimeUpdated($event)"
          ></ion-datetime>
        </div>

        <div
          class="px-4 py-8 bg-[#ffcccb] h-full rounded-t-[40px] overflow-scroll"
        >
          <div
            class="text-[#132742] text-normal flex justify-content align-center w-full"
            *ngIf="dateEvents.length === 0;"
          >
            <h1
              class="text-normal mx-auto text-[#132742]"
              style="font-size: 3rem"
            >
              No Events
            </h1>
          </div>
          <div *ngFor="let event of dateEvents" class="m-0 my-5">
            <ion-card
              class="flex flex-col rounded-xl text-lg m-0 bg-white bg-clip-border text-gray-700 shadow-md"
            >
              <div class="flex justify-between align-center mx-3 mt-3 mb-1">
                <ion-card-header class="text-lg" style="color: #132742">
                  {{event.name}} - 2020
                </ion-card-header>
                <ion-icon name="ticket-outline"></ion-icon>
              </div>
              <ion-card-content class="mx-3 my-1">
                <div class="flex justify-left">
                  <ion-thumbnail>
                    <img
                      src="https://picsum.photos/150"
                      class="w-auto h-auto"
                      alt=""
                    />
                  </ion-thumbnail>
                  <div class="ml-5 text-base">
                    <p class="text-[#ffb5b6]">{{event.date}}</p>
                    <p
                      class="block font-sans text-base text-[#132742] font-light leading-relaxed"
                    >
                      {{event.description}}
                    </p>
                  </div>
                </div>
              </ion-card-content>
              <div
                class="flex justify-between text-base align-center mx-3 mt-1 mb-3"
              >
                <div class="flex justify-between align-center">
                  <p style="color: #132742">{{event.venue}}</p>
                  <p style="color: #132742">
                    {{(event.startTime.toDate().getHours())%12 || 12 }} AM to
                    {{(event.endTime.toDate().getHours())%12 || 12 }} PM
                  </p>
                </div>
                <div>
                  <h4>{{event.price}}</h4>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
      </div>

      <div
        class="h-full px-4 py-8 bg-[#ffcccb] rounded-t-[40px] overflow-scroll"
        *ngSwitchCase="'local'"
      >
        <div *ngFor="let event of events">
          <ion-card
            class="flex flex-col rounded-xl m-0 my-5 bg-white bg-clip-border text-gray-700 shadow-md"
          >
            <div class="flex justify-between align-center mx-3 mt-3 mb-1">
              <ion-card-header class="text-lg" style="color: #132742">
                {{event.name}} - 2020
              </ion-card-header>
              <ion-icon name="ticket-outline"></ion-icon>
            </div>
            <ion-card-content class="mx-3 my-1">
              <div class="flex">
                <ion-thumbnail>
                  <img src="https://picsum.photos/150" alt="" />
                </ion-thumbnail>
                <div class="ml-5 text-base">
                  <p class="text-[#ffb5b6]">{{event.date}}</p>
                  <p
                    class="block font-sans text-[#132742] font-light leading-relaxed"
                  >
                    {{event.description}}
                  </p>
                </div>
              </div>
            </ion-card-content>
            <div
              class="flex justify-between text-base align-center mx-3 mt-1 mb-3"
            >
              <div class="flex justify-between align-center">
                <p class="text-[#132742]">{{event.venue}}</p>
                <p class="ml-2 text-[#132742]">
                  {{(event.startTime.toDate().getHours())%12 || 12 }} AM to
                  {{(event.endTime.toDate().getHours())%12 || 12 }} PM
                </p>
              </div>
              <div>
                <h4>{{event.price}}</h4>
              </div>
            </div>
          </ion-card>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
